@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

:root {
  --dark: #001219;
  --darktransp: #00121980;
  --light: #f6fffc;
  --lighttransp: #f6fffc99;
  --accent: #ffb703;
  --medium: #025f72;
  --blue: #94d2bd;
  --bluetransp: #94d2bd90;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: var(--light);
  color: var(--medium);
  font-family: "Open Sans", sans-serif;
  position: relative;
  /* border: solid 2px orange; */
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.shortpage {
  padding: 1rem 0 0 0;
  /* border: solid 2px salmon; */
}

/* HEADER */

header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  /* border: solid 2px violet; */
}
.logo {
  height: 100%;
  width: fit-content;
  padding: 0.5rem;
}
.navbar {
  display: flex;
  align-items: center;
  z-index: 100;
}
.navbar li {
  padding: 0.5rem;
  transition: 0.2s ease;
}
.navbar a {
  color: var(--medium);
}
.navbar li:hover {
  color: var(--accent);
  /* cursor: pointer !important; */
}
.page-title {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 2px teal; */
}
.first-y {
  color: var(--blue);
  font-weight: heavy;
}
.second-y {
  color: var(--accent);
}

/* HOME */

.fullpage {
  width: 100vw;
  height: 100vh;
}
.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.side {
  /* border: solid 2px orange; */
  width: 50%;
  padding: 1rem;
}
.left {
  text-align: center;
  /* border: solid 2px orange; */
}
.right {
  position: relative;
  /* border: solid 2px orange; */
  width: 100%;
  height: 100%;
}
.left p {
  font-size: smaller;
  font-style: italic;
}
.avatar {
  max-height: 70vh;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: solid 2px lightseagreen; */
}
.avatar2 {
  max-height: 70vh;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.avatar2show {
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.arrow {
  position: absolute;
  bottom: 0.5rem;
  opacity: 0.7;
  /* border: solid 2px red; */
}
/* PROJECTS */

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  /* border: solid 2px red; */
  height: 90%;
  background-image: linear-gradient(
    to bottom,
    #94d2bd99,
    #94d2bd90,
    #94d2bd60,
    #94d2bd30
  );
  margin: 1rem auto;
  border-radius: 10px;
  max-width: 1000px;
}
.project-article {
  /* border: solid 2px green; */
  text-align: center;
  position: relative;
  max-width: 200px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-article a {
  /* border: 2px solid salmon; */
  width: 100%;
  height: 100%;
}
.project-article img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: 1s ease;
}
.photo {
  /* width: 100%; */
  max-height: 120px;
  object-fit: cover;
  /* border: 2px solid salmon; */
}
/* .project-article img:hover {
  opacity: 1;
} */
.project-article h2 {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid pink; */
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  font-weight: 900;
}
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  color: var(--medium);
  /* background-image: linear-gradient(to bottom, #006d7799, #006d7787, #83c5be70); */
  background-image: linear-gradient(to bottom, #f6fffc80, #f6fffc60, #f6fffc10);
  backdrop-filter: blur(0.1rem);
  /* border: 2px solid red; */
  margin: 0.5rem;
  border-radius: 1rem;
  transition: ease-in-out 0.2s;
}
.project-overlay:hover {
  opacity: 0;
}
/* SKILLS */
.skills,
.tools {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  /* border: solid 2px red; */
  padding: 1rem 2rem;
  background-image: linear-gradient(
    to bottom,
    #94d2bd99,
    #94d2bd90,
    #94d2bd60,
    #94d2bd30
  );
  margin: 1rem auto;
  border-radius: 10px;
  max-width: 1000px;
}
.skill-article,
.tool-article,
.social-article {
  padding: 1rem;
  /* border: solid 2px salmon; */
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.art-article {
  position: relative;
}
.skill-article img,
.tool-article img,
.art-article img {
  transition: 0.3s ease;
  /* border: solid 2px violet; */
  width: 100%;
  padding: 1rem;
  max-width: 100px;
  max-height: 100px;
}
.skill-article img:hover,
.tool-article img:hover,
.social-article img:hover,
.art-article img:hover {
  /* cursor: pointer; */
  opacity: 1;
}
.skill-img {
  cursor: pointer;
}
.item-description {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #006d7799, #006d7787, #83c5be70);
  /* background-image: linear-gradient(to right bottom, #f6fffc90, #f6fffc50); */
  backdrop-filter: blur(0.4rem);
  border-radius: 10px;
  padding: 1rem;
  /* z-index: 100; */
  opacity: 0;
  transition: ease-in-out 0.2s;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: var(--light);
}
.item-description:hover {
  opacity: 1;
}
.item-description h3 {
  padding: 0.5rem;
}
.item-description p {
  font-size: 0.8rem;
}
/* ART */
.artworks-page {
  /* border: solid 2px purple; */
}
.artworks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  /* border: solid 2px green; */
  max-width: 1000px;
  margin: 0 auto;
}
.artworks article,
.social-article {
  /* border: solid 2px purple; */
  text-align: center;
  padding: 0.5rem;
  font-size: 0.8rem;
  background-image: linear-gradient(
    to bottom,
    #94d2bd99,
    #94d2bd90,
    #94d2bd60,
    #94d2bd30
  );
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.8;
}
.artworks article:hover {
  opacity: 1;
  cursor: pointer;
}
.artworks article img {
  /* border: solid 2px lightsalmon; */
  height: 60%;
  width: 100%;
  padding: 0.5rem;
  max-width: 130px;
}
.artworks article h4 {
  /* border: solid 2px lightskyblue; */
  height: 40%;
  width: 100%;
  padding: 0.5rem 0;
}
.artworks article a {
  color: var(--medium);
}

/* SOCIAL AND CONTACT */

.contact-page {
  margin: 0 auto;
  max-width: 1000px;
  /* border: solid 2px red; */
}
.contact-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  /* border: solid 2px red; */
  /* width:  */
}

.contact-line img {
  /* border: solid 2px red; */
  max-width: 35px;
}
.contact-line p {
  padding: 0 1rem;
  font-size: 0.8rem;
  /* border: solid 2px teal; */
}
.social {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  /* border: solid 2px blue; */
  margin: 1rem 0;
  border-radius: 10px;
}
.social-article {
  padding: 1rem;
}
.social-article img {
  /* border: solid 2px red; */
  height: 100%;
  width: 100%;
  max-width: 35px;
  /* padding: 1rem; */
}
.credits {
  font-size: 0.5rem;
  text-align: center;
  padding: 0.5rem;
}

/* PHOTOGRAPHY */

.photo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
  visibility: hidden;
}
.photo-overlay-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
  visibility: visible;
  opacity: 0.1;
}
.art-page {
  padding-top: 3rem;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--lighttransp);
  transition: opacity 0.3s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transition: scale(0);
  z-index: 1000;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid salmon; */
}
.modal.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.modal.open svg {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.modal img {
  /* width: 100%; */
  height: 100%;
  margin: auto;
  object-fit: contain;
  /* border: 2px solid red; */
  border-radius: 1rem;
}
/* MEDIA QUERIES */

@media screen and (max-width: 1000px) {
  .projects,
  .skills,
  .tools {
    /* margin: 1rem; */
    /* border: solid 2px violet; */
  }
  .project-article h4 {
    font-size: 0.7rem;
    /* border: solid 2px salmon; */
  }
  .social {
    /* margin: 1rem; */
    /* border: solid 2px salmon; */
  }
  .item-description h3 {
    font-size: 0.8rem;
  }
  .item-description p {
    font-size: 0.6rem;
  }
  .artworks-page {
    /* border: solid 2px teal; */
    /* padding: 0 1rem; */
    /* border: solid 2px salmon; */
  }
  .art-article img {
    padding: 10% !important;
    /* border: solid 2px salmon; */
  }
}

@media screen and (max-width: 600px) {
  body {
    /* padding: 0.5rem; */
  }
  .page-title {
    font-size: 1rem;
  }
  .homepage {
    flex-direction: column-reverse;
    /* border: solid 2px orange; */
    overflow-x: hidden;
  }
  .side {
    /* border: solid 2px green; */
    width: 80%;
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    /* border: solid 2px purple; */
  }
  .avatar {
    max-width: 250px;
    /* border: solid 2px yellow; */
  }
  .avatar2show {
    max-width: 250px;
    /* border: solid 2px purple; */
  }
  .navbar li {
    font-size: 0.8rem;
    padding: 0.3rem;
    /* border: solid 2px lightblue; */
  }
  .navbar {
    padding-right: 0.5rem;
    /* border: solid 2px purple; */
  }
  .left {
    font-size: 1rem;
    /* border: solid 2px red; */
  }
  .left p {
    font-size: 1rem;
    /* border: solid 2px yellow; */
    padding-bottom: 1rem;
  }
  .project-article img,
  .skill-article img,
  .tool-article img,
  .social-article img {
    opacity: 1;
  }
  .skill-article,
  .tool-article {
    padding: 0;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
    /* border: solid 2px blue; */
    /* margin: 1rem; */
  }
  .shortpage {
    margin: 1rem;
  }
  .art-article img {
    padding: 15% !important;
  }
  .arrow {
    bottom: -0.2rem;
    /* opacity: 0.7; */
    /* border: solid 2px red; */
  }
  .contact-page {
    max-width: 100vw;
    /* border: solid 2px red; */
    font-size: 0.5rem;
  }
  .project-article {
    /* border: solid 2px green; */
    margin: auto;
  }
  .project-article img {
    /* border: solid 2px yellow;
    width: 100%;
    object-fit: cover; */
    /* width: 100% !important; */
  }
}

html {
  scroll-behavior: smooth;
}
